.dropdown-input {
  visibility: hidden;
  position: absolute;
  pointer-events: none;

  &:checked ~ .dropdown-content {
    display: block;
  }
}

.dropdown-button {
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px;
  display: inline-block;
}

.dropdown-content {
  display: none;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
}

.card-radio {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #ccc;
  opacity: 0.6;
  cursor: pointer;
}

.card-input {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.card-input-1:checked ~ .card-radio-1,
.card-input-2:checked ~ .card-radio-2,
.card-input-3:checked ~ .card-radio-3,
.card-input-4:checked ~ .card-radio-4 {
  opacity: 1;
}
input[type="checkbox"],
input[type="radio"]{
  visibility: hidden;
  position: absolute;
  pointer-events: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-box {
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  fill: #fff;
}

svg {
  max-width: 100%;
  max-height: 100%;
  display: none;
}

input [type="checkbox"]:checked + .checkbox-label {
  .checkbox-box {
    background: green;

    svg {
      display: block;
    }
  }
}

.simple-select {
  position: relative;
  select {
    border: 2px solid #bcbcbc;
    padding: 7px 24px 7px 24px;
    width: 100%;
    appearance: none;


    &::-ms-expand {
      display: none;
    }
  }
}
.simple-select__arrow {
  position: absolute;
  width: 12px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  fill: aqua;
  pointer-events: none;

}