.sidebar {
  width: 250px;
  position: fixed;
  height: 100%;
  left: 0;
  background: rgb(54,196,201);
  background: linear-gradient(90deg, rgba(54,196,201,1) 13%, rgba(218,123,215,1) 98%);
  border-radius: 20px;
  box-shadow: 5px 7px 10px rgba(168, 130, 130, 0.5);
  z-index: 1; 
}

ul {
  position: relative;
  list-style-type: none;
  
}

.sidebar
a {
   display: flex;
   align-items: center;
   font-family: arial;
   font-size: 1.15em;
   text-decoration: none;
   text-transform: capitalize;
   color: rgb(27, 41, 15);
   padding: 10px 30px;
   height: 50px;
   transition: .5s ease;
   border-radius: 0 50px;
}
.sidebar a:hover {
  color: aqua;
  background: #585050;
  border-left-color: #5a3737;
}

ul {
  ul {
    position: absolute;
    left: 250px;
    width: 250px;
    top: 0;
    display: none;
    background: rgb(54,196,201);
    background: linear-gradient(90deg, rgba(54,196,201,1) 13%, rgba(218,123,215,1) 98%);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(78, 59, 59);
  }
}

.dropdown {
  position:initial;
  position: static; 
}
.dropdown:hover ul {
   display: initial;
}
    
