.filter-blur {
  filter: blur(2px);
}
.filter-grayscale {
  filter: grayscale(100%);
}
.filter-contrast {
  filter: contrast(200%);
}
.filter-sepia {
  filter: sepia(90%);
}
.filter-drop-shadow {
  filter: drop-shadow(1px -1px 3px red) invert(15%);
}
.filter-hue-rotate {
  filter: hue-rotate(90dge);
}
.filter-brightness {
  filter: brightness(0.5);
}
.filter-opacity {
  filter: opacity(0.3);
}
.filter-invert {
  filter: invert(25%);
}
.filter-saturate {
  filter: saturate(20%);
}
// .filter-url {
//   filter: url(<calea pentru svg>);
// }



.section-filters {
  transition:transform 0.35s ease;

img:hover {
  -webkit-transform:scale(1.8); 
  transform:scale(1.8);
  z-index: 1;
  }
}

