.dropdown-input {
  visibility: hidden;
  position: absolute;
  pointer-events: none;

  &:checked ~ .dropdown-content {
   max-height: 100px;
  }
}

.dropdown-button {
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px;
  display: inline-block;
}

.dropdown-content {
  transition: max-height 1s ease-out;
  max-height: 0;
  overflow: hidden;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
}

.card-radio {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #ccc;
  opacity: 0.6;
  cursor: pointer;
}

.card-input {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.card-input-1:checked ~ .card-radio-1,
.card-input-2:checked ~ .card-radio-2,
.card-input-3:checked ~ .card-radio-3,
.card-input-4:checked ~ .card-radio-4 {
  opacity: 1;
}

input[type="checkbox"],
input[type="radio"]{
  visibility: hidden;
  position: absolute;
  pointer-events: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-box {
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  fill: #fff;
}

svg {
  max-width: 100%;
  max-height: 100%;
  // display: none;
}

input [type="checkbox"]:checked + .checkbox-label {
  .checkbox-box {
    background: green;

    svg {
      display: block;
    }
  }
}

.simple-select {
  position: relative;
	
  select {
		color: #fff;
    border: 2px solid #bd2727;
    padding: 7px 24px 7px 24px;
    width: 100%;
    appearance: none;
		background: #2c3e50;
		cursor: pointer;
		width: 20em;
		height: 3em;


    &::-ms-expand {
      display: none;
    }
  }
}
.simple-select__arrow {
  position: absolute;
  width: 12px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  fill: aqua;
  pointer-events: none;

}

// section filled ===================================================

.border-right {
  border-right: 3px solid rgb(37, 63, 41);
  top: 15px;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.filled {
  border-radius: 5px;
  // background-color: #f2f2f2;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-6, .col-6, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


// .group { 
//   position:relative; 
//   margin-bottom:45px; 

//   input,
//   textarea	{
//     font-size:18px;
//     padding:10px 10px 10px 5px;
//     width:300px;
//     border:none;
//     border-bottom:1px solid #757575;
//     border-radius: 10px;
//   }
//   input:focus { 
//     outline:none;
//    }
//   /* LABEL  */
  
//   label {
//     font-family: arial bold;
//     color:rgb(202, 32, 32); 
//     font-size:18px;
//     font-weight:normal;
//     position:absolute;
//     pointer-events:none;
//     left:5px;
//     top:10px;
//     transition:0.2s ease all; 
//     -moz-transition:0.2s ease all; 
//     -webkit-transition:0.2s ease all;
//   }
// }

// /* active state */

// // input:focus ~ label, input:valid ~ label{
// //   top:-20px;
// //   font-size:14px;
// //   color:#1c9251;
// // }

// /* BOTTOM BARS  */
// .bar 	{ position:relative; display:block; width:300px; }
// .bar:before, 
// .bar:after {
//   content:'';
//   height:2px; 
//   width:0;
//   bottom:2px; 
//   position:absolute;
//   background:#5264AE; 
//   transition:0.2s ease all; 
//   -moz-transition:0.2s ease all; 
//   -webkit-transition:0.2s ease all;
// }
// .bar:before {
//   left:50%;
// }
// .bar:after {
//   right:50%; 
// }

// /* active state */
// input:focus ~ .bar:before, input:focus ~ .bar:after {
//   width:50%;
// }

// /* HIGHLIGHTER  */
// .highlight {
//   position:absolute;
//   height:60%; 
//   width:100px; 
//   top:25%; 
//   left:0;
//   pointer-events:none;
//   opacity:0.5;
// }

// /* active state */
// input:focus ~ .highlight {
//   -webkit-animation:inputHighlighter 0.3s ease;
//   -moz-animation:inputHighlighter 0.3s ease;
//   animation:inputHighlighter 0.3s ease;
// }

/* ANIMATIONS  */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

// swidth buttom==========================================================
@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

$ratingGreyColor: #d0cccd;
$ratingBlueColor: #00b9ee;
$ratingDarkColor: #555e63;

.normal-container {
	position: absolute;
	height: 100%;
	width: 100%;
}

.smile-rating-container {
	position: relative;
	height: 10%;
	min-width: 220px;
	max-width: 520px;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	top: 20%;
}

.submit-rating {
	display: flex;
	align-items: center;
	justify-content: center;
}

.rating-label {
	position: relative;
	font-size: 1.6em;
	text-align: center;
	flex: 0.34;
	z-index: 3;
	font-weight: bold;
	cursor: pointer;
	color: $ratingGreyColor;
	transition: 500ms;
}

.rating-label:hover, .rating-label:active {
	color: $ratingGreyColor;
}

.rating-label-fun {
	left: -58px;	
	text-align: right;
}

.rating-label-meh {
	left: 58px;	
	text-align: left;
	color: #222;
}
.smile-rating-container input {
	display: none;
}

.toggle-rating-pill {
	position: relative;
	height: 65px;
	width: 165px;
	background: $ratingGreyColor;
	border-radius: 500px;
	transition: all 500ms;
}

.smile-rating-toggle {
	position: absolute;
	width: 54px;
	height: 54px;
	background-color: white;
	left: 182px;
	border-radius: 500px;
	transition: all 500ms;
	z-index: 4;
}

.rating-eye {
	position: absolute;
	height: 12px;
	width: 8px;
	top: 22px;
	background: $ratingGreyColor;
	border-radius: 500px;
	z-index: 5;
	transition: all 440ms;
	animation: blink-eye 3s infinite;
}

@keyframes blink-eye {
	0% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	20% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	40% {
		height: 12px;
		width: 8px;
		top: 22px;		
	}
	60% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	80% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	90% {
		height: 12px;
		width: 8px;
		top: 22px;		
	}
	95% {
		height: 2px;
		width: 8px;
		top: 30px;
	}
	100% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
}

.rating-eye-left {
	left: 192px;
}

.rating-eye-right {
	left: 216px;
}

.mouth {
	position: absolute;
	width: 28px;
	height: 20px;
	z-index: 6;
	border: 4px solid $ratingGreyColor;
	border-radius: 10%;
	border-bottom-color: rgba(1,1,1,0);
	border-right-color: rgba(1,1,1,0);
	border-left-color: rgba(1,1,1,0);
	top: 42px;
	left: 190px;
	transition: all 500ms;
}
/*
Toggle Changes
*/
#meh:checked~.rating-label-meh {
	color: $ratingDarkColor;
}

#fun:checked~.rating-label-meh {
	color: $ratingGreyColor;
}

#fun:checked~.mouth {
	border: 4px solid $ratingBlueColor;
	border-bottom-color: rgba(1,1,1,0);
	border-right-color: rgba(1,1,1,0);
	border-left-color: rgba(1,1,1,0);
	top: 23px;
	left: 291px;
	transform: rotateX(180deg);
	border-radius: 100%;
}

#fun:checked~.rating-label-fun {
	color: $ratingDarkColor;
}

#fun:checked~.smile-rating-toggle {
	left: 282px;
}

#fun:checked~.rating-eye-left {
	left: 292px;
}

#fun:checked~.rating-eye-right {
	left: 316px;
}

#fun:checked~.toggle-rating-pill {
	background-color: $ratingBlueColor;
}

#fun:checked~.rating-eye {
	background-color: $ratingBlueColor;
}

@media only screen and (max-width:524px) {
	.normal-container {
		position: absolute;
		height: 100%;
		width: 100%;
	}

	.smile-rating-container {
		position: relative;
		height: 10%;
		width: 490px;
		margin: auto;
		font-family: 'Roboto', sans-serif;
		top: 20%;
	}

	.submit-rating {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.rating-label {
		position: relative;
		font-size: 1.6em;
		text-align: center;
		flex: 0.34;
		z-index: 3;
		font-weight: bold;
		cursor: pointer;
		color: $ratingGreyColor;
		transition: 500ms;
	}

	.rating-label:hover, .rating-label:active {
		color: $ratingGreyColor;
	}

	.rating-label-fun {
		left: -58px;	
		text-align: right;
	}

	.rating-label-meh {
		left: 50px;	
		text-align: left;
		color: #222;
	}

	.smile-rating-container input {
		display: none;
	}

	.toggle-rating-pill {
		position: relative;
		height: 65px;
		width: 165px;
		background: $ratingGreyColor;
		border-radius: 500px;
		transition: all 500ms;
	}

	.smile-rating-toggle {
		position: absolute;
		width: 54px;
		height: 54px;
		background-color: white;
		left: 168px;
		border-radius: 500px;
		transition: all 500ms;
		z-index: 4;
	}
	.rating-eye {
		position: absolute;
		height: 12px;
		width: 8px;
		background: $ratingGreyColor;
		border-radius: 500px;
		top: 22px;
		z-index: 5;
		transition: all 440ms;
	}
	.rating-eye-left {
		left: 180px;
	}
	.rating-eye-right {
		left: 201px;
	}

	.mouth {
		position: absolute;
		width: 28px;
		height: 20px;
		z-index: 6;
		border: 4px solid $ratingGreyColor;
		border-radius: 10%;
		border-bottom-color: rgba(1,1,1,0);
		border-right-color: rgba(1,1,1,0);
		border-left-color: rgba(1,1,1,0);
		top: 42px;
		left: 177px;
		transition: all 500ms;
	}
	/*
	Toggle Changes
	*/
	#meh:checked~.rating-label-meh {
		color: $ratingDarkColor;
	}
	#fun:checked~.rating-label-meh {
		color: $ratingGreyColor;
	}
	#fun:checked~.mouth {
		border: 4px solid $ratingBlueColor;
		border-bottom-color: rgba(1,1,1,0);
		border-right-color: rgba(1,1,1,0);
		border-left-color: rgba(1,1,1,0);
		top: 23px;
		left: 275px;
		transform: rotateX(180deg);
		border-radius: 100%;
	}

	#fun:checked~.rating-label-fun {
		color: $ratingDarkColor;
	}

	#fun:checked~.smile-rating-toggle {
		left: 266px;
	}

	#fun:checked~.rating-eye-left {
		left: 275px;
	}

	#fun:checked~.rating-eye-right {
		left: 300px;
	}

	#fun:checked~.toggle-rating-pill {
		background-color: $ratingBlueColor;
	}

	#fun:checked~.rating-eye {
		background-color: $ratingBlueColor;
	}
}

h2 {
  text-align: center;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(73, 55, 55);
}